{% extends 'shared/base.html' %}
{% load static %}
{% block style %}
<style>
    .form_center{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
      }
      
</style> 
{% endblock style %}

{% block content %}

<div class="form_center">
    <form class="p-5 p-md-5 border rounded-3 bg-body-tertiary" method="post">
        <h5 class="text-center mb-3 fw-light fs-5">Change password</h5>
        <div class="col mb-3">
            {{ form.old_password.label }}
            {{ form.old_password }}
            {% if form.old_password.errors %}
                {{ form.old_password.errors }}
            {% endif %}
        </div>
        <div class="col mb-3">
            {{ form.new_password.label }}
            {{ form.new_password }}
            {% if form.new_password.errors %}
                {{ form.new_password.errors }}
            {% endif %}
        </div>
        <div class="col mb-3">
            {{ form.confirm_new_password.label }}
            {{ form.confirm_new_password }}
            {% if form.confirm_new_password.errors %}
                {{ form.confirm_new_password.errors }}
            {% endif %}
        </div>
        <div class="col mb-3">
            {% csrf_token %}
            <button class="w-100 btn btn-lg btn-primary" type="submit">submit</button>
        </div>
        
    </form>
</div>
{% endblock %}
