{% extends "shared/base.html" %}
{% load static %}
{% block content %}

  <h2 class="fw-bold fs-4 my-3">Student List</h2>
  <a class="btn btn-primary" href="{% url 'student-create' %}">Create New Student</a>
  <div class="row">
    <div class="col-12">
    
      <table class="table table-striped">
        <thead>
          <tr class="highlight">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">DOB</th>
            <th scope="col">Gender</th>
            <th scope="col">Address</th>
            <th scope="col">Parents Name</th>
            <th scope="col">Parents PhoneNo</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        {% for student in object_list %}
        <tbody>
          <tr>
        
            <td>{{ forloop.counter }}</td>
            <td>{{ student.full_name }}</td>
            <td>{{ student.grade_section }}</td>
            <td>{{ student.dob }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.parent_name }}</td>
            <td>{{ student.parent_phone }}</td>
            <td><a href="{% url 'student-delete' student.pk %}" class="btn btn-danger">Delete</a> <a href="{% url 'student-update' student.pk %}" class="btn btn-primary">Edit</a></td>
          </tr>
        {% endfor %}         
        </tbody>
      </table>
    </div>
  </div>
  <ul>
    {% for student in object_list %}
    <li>{{ student.first_name }} {{ student.last_name }} - <a class="btn btn-primary" href="{% url 'student-update' student.pk %}">Edit</a> - <a href="#">Delete</a></li>

      {% comment %} <li>{{ student.first_name }} {{ student.last_name }} - <a href="{% url 'student-update' student.pk %}">Edit</a> - <a href="{% url 'student-delete' student.pk %}">Delete</a></li> {% endcomment %}
    {% endfor %}
  </ul>
{% endblock %}
