{% extends 'shared/base.html' %}
{% block content %}
  <h2 class="fw-bold fs-4 my-3">Add BooK</h2>
  <form class="p-5 p-md-5 border rounded-3 bg-body-tertiary" method="POST">
    {% csrf_token %}
    <div class="col">
      {{ form.book_title.label }}
      {{ form.book_title }}
      {{ form.book_title.errors }} 
    </div>
    <div class="col">
      {{ form.book_id.label }}
      {{ form.book_id }}
      {{ form.book_id.errors }} 
    </div>
    <div class="col mb-4">
      {{ form.quantity.label }}
      {{ form.quantity }}
      {{ form.quantity.errors }} 
    </div>
   
    <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
</form>



{% endblock content %}
