{% extends "shared/base.html" %}
{% load static %}
{% block content %}

  <h2 class="fw-bold fs-4 my-3">Libary List</h2>
  <a class="btn btn-secondary" href="{% url 'library-create' %}">Add Book</a>
  <div class="row">
    <div class="col-12">
    
      <table class="table table-striped">
        <thead>
          <tr class="highlight">
            <th scope="col">#</th>
            <th scope="col">Book Title</th>
            <th scope="col">Book Id</th>
            <th scope="col">Total Quantity</th>
            <th scope="col">Remaining Quantity</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        {% for lib in object_list %}
        <tbody>
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{lib.book_title}}</td>
            <td>{{lib.book_id}}</td>
            <td>{{lib.quantity}}</td>
            <td>{{lib.curent_quantity}}</td>
            <td><a href="{% url 'library-delete' lib.pk %}" class="btn btn-danger">Delete</a> <a href="{% url 'library-update' lib.pk %}" class="btn btn-primary">Edit</a></td>
          </tr>
        {% endfor %}          
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
