{% extends "shared/base.html" %}
{% block content %}

    <div class="container mt-5">

        <!-- Displaying statistics -->
        <div class="row text-center mb-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Students</h5>
                        <p>{{ total_student }}</p>
                        <a href="{% url 'student-list' %}">view </a>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
                {% if user.role == 'admin' or user.role == 'libaran' %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>Total Library Records</h5>
                                <p>{{ total_library }}</p>
                                <a href="{% url 'library-list' %}">view </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %} 
            {% if user.is_authenticated %}
                {% if user.role == 'admin' or user.role == 'staff' %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5>Total Fees Records</h5>
                            <p>{{ total_fees }}</p>
                            <a href="{% url 'fees-list' %}">view </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}  
        </div>

        <!-- User Table -->
        <h3 class="text-center mb-3">All Users</h3>
        {% if user.role == 'admin' %}<a class="btn btn-primary" href="{% url 'register' %}">Add Staff/Libaran</a>{% endif %}
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    {% if user.role == 'admin' %}<th>Action</th> {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                <tr>
                    <td>{{ u.username }}</td>
                    <td>{{ u.first_name }}</td>
                    <td>{{ u.last_name }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.get_role_display }}</td>
                    {% if user.role == 'admin' %}
                    <td>
                        <a class="btn btn-primary" href="{% url 'user-update' user.pk %}">
                            <i class="bi bi-pen"></i> Edit
                        </a>
                        <a class="btn btn-danger" href="{% url 'user-delete' user.pk %}">
                            <i class="bi bi-trash3"></i> Delete
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No users found</td>
                </tr>
                {% endfor %}
                {% comment %} <tr>
                  <td colspan="6" class="text-center"><a class="btn btn-secondary" href="" style="width: 100%;">Create </a></td>
              </tr> {% endcomment %}
            </tbody>
        </table>
    </div>
{% endblock %}