{% extends "shared/base.html" %}
{% block content %}

    <div class="container mt-5">
        <h2 class="text-center">Admin Dashboard</h2>

        <!-- Displaying statistics -->
        <div class="row text-center mb-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Students</h5>
                        <p>{{ total_student }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Library Records</h5>
                        <p>{{ total_library }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Fees Records</h5>
                        <p>{{ total_fees }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- User Table -->
        <h3 class="text-center mb-3">All Users</h3>
        <a class="btn btn-primary" href="{% url 'register' %}">Add Staff/Libaran</a>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.get_role_display }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'user-update' user.pk %}">
                            <i class="bi bi-pen"></i> Edit
                        </a>
                        <a class="btn btn-danger" href="{% url 'user-delete' user.pk %}">
                            <i class="bi bi-trash3"></i> Delete
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No users found</td>
                </tr>
                {% endfor %}
                {% comment %} <tr>
                  <td colspan="6" class="text-center"><a class="btn btn-secondary" href="" style="width: 100%;">Create </a></td>
              </tr> {% endcomment %}
            </tbody>
        </table>
    </div>
{% endblock %}